# Virtual Environments
venv/
env/
.venv


# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Large Data Files (too big for git)
data/books/*.pdf
data/raw/*.pdf
data/processed/
data/cropped/
data/segmented/
data
notebooks/cropped_output/*.png
tests
notebooks/batch_ocr_output

# Model Checkpoints & Weights
weights/
checkpoints/
*.pth
*.pt
*.h5

# Results & Outputs
results/
outputs/
logs/

# Secrets & Config
.env
secrets.json
credentials.json

# Cache
.cache/
.pytest_cache/

# Keep tracked (don't ignore)
!data/raw/transcriptions/
!README.md
!requirements.txt
!.gitkeep
!data\README.md

*.log
*.logs
logs/
log/
*.log.*
